[submodule "Concurrency on iOS/2017AtSwift_Concurrency"]
	path = Concurrency on iOS/2017AtSwift_Concurrency
	url = https://github.com/atConf/2017AtSwift_Concurrency.git
[submodule "Thinking in RxSwift way/RxFeedback"]
	path = Thinking in RxSwift way/RxFeedback
	url = https://github.com/atConf/RxFeedback.git
[submodule "Lightweight reactive-api for MVVM/let.swift"]
	path = Lightweight reactive-api for MVVM/let.swift
	url = https://github.com/atConf/let.swift.git
[submodule "Lightweight reactive-api for MVVM/let.swift.demo.backend"]
	path = Lightweight reactive-api for MVVM/let.swift.demo.backend
	url = https://github.com/atConf/let.swift.demo.backend.git
[submodule "TensorFlow-on-iOS"]
	path = TensorFlow-on-iOS
	url = https://github.com/atConf/TensorFlow-on-iOS.git
[submodule "METAL & DEEP LEARNING/MetalColor"]
	path = METAL & DEEP LEARNING/MetalColor
	url = https://github.com/atConf/MetalColor.git
